.radio {
    accent-color: #000000;
    width: 20px;
    height: 20px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    flex-direction: row;
    gap:13px;
    padding: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.options {
}
