.spanBlock {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #0080FF;
}

.span {
}

.input {
    margin-bottom: 24px;
    width: 276px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.pen {
}